!!!
%html
  %head
    %title Bookistha
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %section#head
      %section#user
        - if user_signed_in?
          %nav#nav_user
            %ul
              %span= current_user.email
              %li
                = link_to "Settings", services_path
                %li= link_to "Sign out", signout_services_path
        - else
          %nav#nav_user
            %ul
              %span Sign in with:
              %li= link_to "Facebook", "/auth/facebook"
              %li= link_to "Google", "/auth/google"
              %li= link_to "Yahoo", "/auth/yahoo"
              %li= link_to "Other", signin_services_path
      %h1
        Bookistha
        %sup Beta
    %section#body
      -if flash.present?
        %section#flash
          - flash.each do |key, value|
            %div{:class => "flash #{key} round"}= value
      .container
        = yield 
